//- Article
mj-section(background-color="#ffffff" full-width="full-width")
    mj-column
        mj-image(src="https://i.ibb.co/CJVsdLb/meeting.png" alt="Image of people working on computers" padding-bottom="20px" padding-top="20px")/
    mj-column    
        mj-text(align="left" color="#9da3a3" font-size="14px" padding-bottom="25px" padding-top="25px" line-height="140%")
            h2(style="margin:0px;font-weight:700;font-size:16px;color:#45474e") Great newsletter for the most Yeti company out there
            p(style="margin:0px;padding-top:18px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        mj-button(align="left" background-color="#00707e" color="#ffffff" border-radius="24px" font-size="14px" href="https://yeti.co" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" padding-bottom="45px" padding-top="10px" text-transform="uppercase") Read more