//- Bandeau vert
mj-section(background-color="#00707E" full-width="full-width")
    mj-column
        mj-text(align="center" color="#f8d5d1" font-size="18px" padding-bottom="10px") Why choose us ?
        mj-divider(border-color="#f8d5d1" border-style="solid" border-width="1px" width="60%" padding-bottom="20px" padding-top="20px")
        mj-text(align="center" color="#f8d5d1" font-size="14px" line-height="140%" padding-bottom="25px") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.