//- Icons
mj-section(background-color="#ffffff" full-width="full-width")
    mj-column
        mj-image(src="https://i.ibb.co/2kg3DnN/crown.png" alt="crown icon" width="50px")/
        mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" line-height="140p%") 
            h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") Best Yetis
            p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
    mj-column
        mj-image(src="https://i.ibb.co/FnLH2HN/coins-1.png" alt="stack of coins icon" width="50px")/
        mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" line-height="140p%") 
            h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") Maximum Wow
            p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
    mj-column
        mj-image(src="https://i.ibb.co/tYC5NTC/headset.png" alt="crown icon" width="50px")/
        mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" padding-top="3px" line-height="140p%") 
            h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") People Talking
            p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
    
    