mjml
    //- Head
    mj-head
        mj-title Yeti Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif')/
            mj-image(border='none')/
            mj-button(background-color="#00707e" color="#ffffff" border-radius="24px" font-size="14px" line-height="14px" font-weight="400" text-transform="uppercase")
        mj-breakpoint(width='480px')
        mj-style.
            h1{
                margin: 0px;
                font-size:30px;
                line-height:30px;
            }
            h2{
                margin:0px;
                font-size:16px;
                color:#00707E;
                font-weight:700;
            }
            p{
                margin:0px;
                padding-top:18px;
            }
    //- Body
    mj-body(background-color="#eeeeee")       
        //- content
        block content
        //- icons
        block icons
            include ../includes/_icons
        //- bandeau vert
        block bandeau vert
            include ../includes/_bandeauVert 
        //- article
        block article
            include ../includes/_article