extends templates/_layout
//- content
block content
    //- Header"
    mj-section(background-color='#ffffff' background-url="https://i.ibb.co/R2mTYj0/yeti-bg.png" background-size="cover" background-repeat="no-repeat" full-width="full-width")
        mj-column
            mj-text(align='center' font-size='14px' color="#45474e" padding-top='45px') #[span(style="font-size:30px;line-height:30px;") Discover the adventure of inventing]
            mj-text(align='center' font-size='14px' color="#45474e" padding-top="25px" padding-bottom='10px') With #[span(style="color:#00707e") Yeti]
            mj-button(align="center" background-color="#00707E" color="#ffffff" border-radius="24px" href="https://yeti.co" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" padding-bottom="45px" padding-top="10px" text-transform="uppercase") Subscribe
    
    
    
