extends templates/_layout
//- content
block content
    //- Header
    mj-section(background-color='#ffffff' background-url="https://i.ibb.co/R2mTYj0/yeti-bg.png" background-size="cover" background-repeat="no-repeat" full-width="full-width")
        mj-column
            mj-text(align='center' color="#45474e" padding-top='40px') #[span(style="font-size:30px;line-height:30px;") Discover the adventure of inventing]
            mj-text(align='center' font-size='14px' color="#45474e" padding-top="20px" padding-bottom='10px') With #[span(style="color:#00707E") Yeti]
            mj-button(align="center" background-color="#00707E" color="#ffffff" border-radius="24px" href="https://yeti.co" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" padding-bottom="45px" padding-top="10px" text-transform="uppercase") Subscribe
    //- Icons
    mj-section(background-color="#ffffff" full-width="full-width")
        mj-column
            mj-image(src="https://i.ibb.co/2kg3DnN/crown.png" alt="crown icon" width="50px")/
            mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" line-height="140p%") 
                h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") Best Yetis
                p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
        mj-column
            mj-image(src="https://i.ibb.co/FnLH2HN/coins-1.png" alt="stack of coins icon" width="50px")/
            mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" line-height="140p%") 
                h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") Maximum Wow
                p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
        mj-column
            mj-image(src="https://i.ibb.co/tYC5NTC/headset.png" alt="crown icon" width="50px")/
            mj-text(align="center" color="#9DA3A3" font-size="14px" padding-bottom="30px" padding-top="3px" line-height="140p%") 
                h2(style="margin:0px;font-size:16px;color:#00707E;font-weight:700") People Talking
                p(style="margin:0px;padding-top:18px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend sagittis nunc, et fermentum est ullamcorper dignissim.
    //- Bandeau vert
    mj-section(background-color="#00707E" full-width="full-width")
        mj-column
            mj-text(align="center" color="#f8d5d1" font-size="18px" padding-bottom="10px") Why choose us ?
            mj-divider(border-color="#f8d5d1" border-style="solid" border-width="1px" width="60%" padding-bottom="20px" padding-top="20px")
            mj-text(align="center" color="#f8d5d1" font-size="14px" line-height="140%" padding-bottom="25px") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    //-
