extends templates/_layout
//- content
block content
    //- Header
    mj-section(background-color='#ffffff' background-url="https://i.ibb.co/R2mTYj0/yeti-bg.png" background-size="cover" background-repeat="no-repeat" full-width="full-width")
        mj-column
            mj-text(align='center' color="#45474e" padding-top='40px') 
                h1 Discover the adventure of inventing
            mj-text(align='center' font-size='14px' color="#45474e" padding-top="20px" padding-bottom='10px') With #[span(style="color:#00707E") Yeti]
            mj-button(align="center" href="https://yeti.co" padding-bottom="45px" padding-top="10px") Subscribe
    